/* Переменные цветов */
:root {
    --light-background-color: #ffffff;
    --light-text-color: #000000;
    --dark-background-color: #333333;
    --dark-text-color: #ffffff;
    --primary-color: #2196F3;
    --secondary-color: #ccc;
}

/* Стили для светлой темы */
body {
    background-color: var(--light-background-color);
    color: var(--light-text-color);
}

/* Стили для темной темы */
body.dark-theme {
    background-color: var(--dark-background-color);
    color: var(--dark-text-color);
}

/* Стили для переключателя темы */
.theme-switcher {
    position: fixed;
    top: 10px;
    right: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--secondary-color);
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: var(--primary-color);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--primary-color);
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}