/* Переменные цветов */
:root {
    --light-background-color: #efeae6;
    --light-text-color: #2a2b2a;
    --dark-background-color: #1e1f1e;
    --dark-text-color: #E4DFDA;
    --primary-color: #f95939;
    --secondary-color: #668586;
    --max-width: 1200px;
}

/* Шрифты */
.ibm-plex-mono-thin {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 100;
    font-style: normal;
}

.ibm-plex-mono-thin-italic {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 100;
    font-style: italic;
}

.ibm-plex-mono-extralight {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 200;
    font-style: normal;
}

.ibm-plex-mono-extralight-italic {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 200;
    font-style: italic;
}

.ibm-plex-mono-light {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 300;
    font-style: normal;
}

.ibm-plex-mono-light-italic {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 300;
    font-style: italic;
}

.ibm-plex-mono-regular {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.ibm-plex-mono-regular-italic {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: italic;
}

.ibm-plex-mono-medium {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 500;
    font-style: normal;
}

.ibm-plex-mono-medium-italic {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 500;
    font-style: italic;
}

.ibm-plex-mono-semibold {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 600;
    font-style: normal;
}

.ibm-plex-mono-semibold-italic {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 600;
    font-style: italic;
}

.ibm-plex-mono-bold {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 700;
    font-style: normal;
}

.ibm-plex-mono-bold-italic {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 700;
    font-style: italic;
}

/* Стили для хедера */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
}

body {
    font-family: "IBM Plex Mono", monospace;
    margin: 0;
    padding: 0;
    background-color: var(--light-background-color);
    color: var(--light-text-color);
    transition: color 1s ease;
}

/* Стили для темной темы */
body.dark-theme {
    background-color: var(--dark-background-color);
    color: var(--dark-text-color);
    transition: color 1s ease;
}

body h2 {
     text-align: center;
}

 .accent {
    color: var(--secondary-color);
}

body.dark-theme .accent {
    color: var(--primary-color);
}

.content {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 2em;
}

.footer {
    text-align: center;
    padding: 1em;
    background-color: var(--light-background-color);
    color: var(--light-text-color);
}

body.dark-theme .footer {
    background-color: var(--dark-background-color);
    color: var(--dark-text-color);

}

/* Медиа-запросы для адаптивного дизайна */
@media screen and (max-width: 768px) {
    .content {
        padding: 1em;
    }
}

/* Стили для основного блока */
.content {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

/* Стили для разделов основного блока */
.text-section {
    width: 100%;
}

.form-section {
    width: 100%;
}

/* Медиа-запросы для адаптивного дизайна */
@media screen and (min-width: 768px) {
    .content {
        flex-direction: row;
        align-items: flex-start;
    }

    .text-section {
        width: 70%;
    }

    .form-section {
        width: 30%;
    }
}

/* Стили для разделов основного блока */
.text-section {
    width: 100%;
    text-align: justify;
    /* Выравнивание текста по ширине */
}

.form-section {
    width: 100%;
}

/* Стили для переключателя темы */
.theme-switcher {
    position: relative;

    right: 1em;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: -2px;
    right: 2px;
    bottom: 0;
    background-color: var(--secondary-color);
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: var(--primary-color);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--primary-color);
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Дополнительные стили */
h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

p {
    font-size: 1.2em;
    margin-bottom: 1em;
}

.theme-switcher h1,
.theme-switcher p {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
}

/* Дополнительные стили */

/* Стили для заголовка h3 */
h3 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

/* Стили для ссылок */
a {
    color: var(--secondary-color);
    transition: color 0.3s ease;
    text-decoration: none;
    /* Плавное изменение цвета ссылок при наведении */
}

body.dark-theme a {
    color: var(--primary-color);
}

.thanks {
    text-align: center;
}
.thanks a {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    display: inline-block;
    margin: 0 10px;
}

form {
    margin-top: 2em;
}

form label {
    display: block;
    margin-bottom: 0.5em;
}

form input[type="text"]::placeholder {
    font-family: "IBM Plex Mono", monospace;
    font-style: italic; /* Устанавливаем курсивное начертание */
    font-weight: normal;
}

form input[type="text"]{
    font-family: "IBM Plex Mono", monospace;
    font-style: italic; /* Устанавливаем курсивное начертание */
    font-weight: normal;
}

form input[type="text"] {
    padding: 0.5em;
    font-size: 1em;
    width: 100%;
    margin-bottom: 1em;
    border: 2px solid var(--secondary-color); /* Цвет границ элемента */
    box-shadow: none; /* Убираем отлив */
    color: var(--light-text-color);
    background-color: var(--dark-text-color);
    outline: none;
}

body.dark-theme form input[type="text"] {
    padding: 0.5em;
    font-size: 1em;
    width: 100%;
    margin-bottom: 1em;
    border: 2px solid var(--primary-color); /* Цвет границ элемента */
    box-shadow: none; /* Убираем отлив */
    color: var(--dark-text-color);
    background-color: var(--light-text-color);
    outline: none;
}

/* Стили для формы */
form {
    margin-top: 2em;
    width: 300px;
    /* Ширина формы */
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

form input[type="text"] {
    padding: 0.5em 1em;
    font-size: 1em;
    width: calc(100% - 1em);
    /* Ширина поля ввода */
    margin-bottom: 1em;
    /* Граница поля ввода */
    border-radius: 2em;
    /* Скругление углов поля ввода */
}

body.dark-theme form input[type="text"] {
    padding: 0.5em 1em;
    font-size: 1em;
    width: calc(100% - 1em);
    margin-bottom: 1em;
    border-radius: 2em;
}

form input[type="submit"] {
    width: 2.7em;
    height: 2.3em;
    background-color: var(--dark-background-color);
    color: var(--dark-text-color);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 100%;
    position: relative;
    overflow: hidden;
    top: 0.3em;
    right: 2.7em;
}

.no-wrap-text {
    white-space: nowrap;
}
