<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static', filename='js/downloadChat.js') }}"></script>
    <title>Chat</title>
    <style>
        .comment {
            margin-bottom: 10px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #f9f9f9;
        }
        .comment .header {
            font-weight: bold;
            margin-bottom: 5px;
        }
        .comment .message {
            color: #333;
        }
    </style>
</head>
<body>
<h1>Chat Data</h1>
    <div id="chatData"></div>

    <script>
        async function downloadChat(vodId) {
            try {
                const response = await fetch('/download_chat', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({vod_id: vodId})
                });

                if (!response.ok) {
                    throw new Error('Unable to download chat data');
                }

                const data = await response.json();
                console.log('Chat data:', data);

            } catch (error) {
                console.error('Error fetching chat data:', error);
            }
        }
    </script>

    <h1>Chat</h1>
    <div id="chat">
        {% for segment in chat_data %}
            {% for comment in segment %}
                <div class="comment">
                    <div class="header">
                        <span class="commenter">{{ comment['display_name'] }}</span> -
                        <span class="timestamp">{{ comment['timestamp'] }}</span>
                    </div>
                    <div class="message">{{ comment['message_text'] }}</div>
                </div>
            {% endfor %}
        {% endfor %}
    </div>

</body>
</html>
