<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static', filename='js/downloadChat.js') }}"></script>
    <title>Chat</title>
    <style>
        .comment {
            margin-bottom: 10px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #f9f9f9;
        }
        .comment .header {
            font-weight: bold;
            margin-bottom: 5px;
        }
        .comment .message {
            color: #333;
        }
    </style>
</head>
<body>
<h1>Chat Data</h1>
    <div id="chatData"></div>
    <h1>Chat</h1>
    <div id="chat">
        good
    </div>

</body>
</html>
