<!-- chat_messages.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Messages</title>
</head>
<body>
    <h1>Сообщения чата</h1>
    <form action="/get_chat_messages" method="POST">
        <label for="username">Имя пользователя канала Twitch:</label>
        <input type="text" id="username" name="username" required>
        <button type="submit">Получить сообщения чата</button>
    </form>
    <ul>
        {% if chat_messages %}
            {% for message in chat_messages %}
                <li>{{ message }}</li>
            {% endfor %}
        {% else %}
            <li>Нет доступных сообщений чата</li>
        {% endif %}
    </ul>
</body>
</html>
