<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Katso</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>

    <header class="header">
        <h1>Ka<span class="accent">ts</span>o.<span class="accent">ᵝ</span></h1>
        <div class="theme-switcher">
            <label class="switch">
                <input type="checkbox" id="theme-toggle">
                <span class="slider round"></span>
            </label>
        </div>
    </header>

    <main class="content">
    <section class="text-section">
        <h2><span class="no-wrap-text">(*・ω・)ﾉ</span>  приветик <span class="no-wrap-text">ヾ(・ω・*)</span></h2>
        <p>Ka<span class="accent">ts</span>o (кáтсо) - сервис для просмотра и аналитики
            пользователей и их стримов на Twitch</p>
        <p>Название происходит от финского слова "смотреть" или "наблюдать", что
        отражает суть сервиса. Вам предоставляется простой, доступный и наглядный
        инструмент, помогающий пользователям быстро и структурированно просматривать
        сведения о пользователях, а стримерам проводить аналитику их каналов.
        </p>
        <p>Для просмотра информации о пользователе регистрация не требуется,
        только его логин, однако для использования инструментов аналитики
        необходимо подключить свою учетную запись.
        <p>Приятного пользования <span class="no-wrap-text">___〆(=^･ω･^=)</span>
        </p>
    </section>

    <section class="form-section">
        <section class="form">
            <h2>ᕕ( ᐛ )ᕗ узнать о пользователе (・・ ) ?</h2>
            <form action="/get_info" method="POST">
                <input type="text" id="username" name="username" placeholder="ник пользователя">
            </form>
        </section>

        <h2>(シ. .)シ репозиторий (=`ω´= ) </h2>
        <div class="thanks">
            <a href="https://github.com/has-s/katso"> Git-проект (´ ∀ ` *)</a>
        </div>
    </section>
    </main>

    <footer class="footer">
        <a><b><・ )))><<</b></a>
    </footer>

</body>
</html>
