<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ user_info.display_name }} - информация</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" href="favicon.ico"/>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>

<header class="header">
    <h1>Ka<span class="accent">ts</span>o.<span class="accent">ᵝ</span></h1>
    <div class="theme-switcher">
        <label class="switch">
            <input type="checkbox" id="theme-toggle">
            <span class="slider round"></span>
        </label>
    </div>
</header>

<h2>Информация о пользователе Twitch</h2><br>
<main class="content">
    <section class="user-info">
        {% if user_info %}
            <div class="profile">
                <div class="avatar">
                    <img src="{{ user_info.profile_image_url }}" alt="Profile Image" class="profile-image" onerror="this.src='fallback_image.jpg';">
                </div>
                <div class="details">
                    <h3 class="nickname">{{ user_info.display_name }} <span class="broadcaster-type">{{ user_info.broadcaster_type }}</span></h3>
                    <p class="description">{{ user_info.description }}</p>
                    <p class="created-at" id="created-at"></p>
                </div>
            </div>
            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    var createdAt = new Date("{{ user_info.created_at }}");
                    var options = { year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric' };
                    var formattedDate = createdAt.toLocaleDateString('ru-RU', options);
                    document.getElementById('created-at').textContent = "Дата создания аккаунта: " + formattedDate;
                });
            </script>
        {% else %}
            <p>Не удалось получить информацию о пользователе.</p>
        {% endif %}
    </section>
</main>

<h2>Текущий стрим</h2><br>
<main class="content">
    <section class="stream-info">
        {% if stream_info %}
            <div class="thumbnail">
                <img src="{{ stream_info.thumbnail_url | replace('{width}', '1920') | replace('{height}', '1080') }}" alt="Thumbnail">
            </div>
            <div class="current-stream">
                <h3><a href="https://www.twitch.tv/{{ stream_info.user_name }}">{{ stream_info.title }}</a><br></h3>
                <p><strong>Игра</strong>: {{ stream_info.game_name }}</p>
                <p class="started-at" id="started-at"></p>
                <p><strong>Зрители</strong>: {{ stream_info.viewer_count }}</p>
            </div>
            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    var startedAt = new Date("{{ stream_info.started_at }}");
                    var options = { year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric' };
                    var formattedDate = startedAt.toLocaleDateString('ru-RU', options);
                    document.getElementById('started-at').textContent = "Начало: " + formattedDate;
                });
            </script>
        {% else %}
            <div class="offline-image-container">
                <img src="{{ user_info.offline_image_url }}" alt="Offline Image" class="offline-image" onerror="this.src='./static/images/fallback_image.png';">
                <p>Стрим сейчас оффлайн</p>
            </div>
        {% endif %}
    </section>
</main>

<h2>Предыдущие стримы</h2><br>
<main class="content">
    <section class="past-streams">
        <ul>
            {% if past_streams %}
                {% set past_streams_to_display = past_streams[1:] if stream_info else past_streams %}
                {% for stream in past_streams_to_display %}
                    <li>
                        <div class="stream-info">
                            <div class="thumbnail">
                                <img src="{{ stream.thumbnail_url | replace('%{width}', '1920') | replace('%{height}', '1080') }}" alt="Thumbnail">
                            </div>
                            <div class="current-stream">
                                <h3><a href="{{ stream.url }}">{{ stream.title }}</a><br></h3>
                                <p><strong>ID</strong>: {{ stream.id }}</p>
                                <p class="stream-created-at" id="stream-created-at-{{ loop.index }}"></p>
                                <p><strong>Длительность</strong>: {{ stream.duration }}</p>
                                <p><strong>Количество просмотров</strong>: {{ stream.view_count }}</p>
                            </div>
                        </div>
                    </li>
                    <script>
                        document.addEventListener('DOMContentLoaded', function() {
                            var createdAt{{ loop.index }} = new Date("{{ stream.created_at }}");
                            var options{{ loop.index }} = { year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric' };
                            var formattedDate{{ loop.index }} = createdAt{{ loop.index }}.toLocaleDateString('ru-RU', options{{ loop.index }});
                            document.getElementById('stream-created-at-{{ loop.index }}').textContent = "Дата создания: " + formattedDate{{ loop.index }};
                        });
                    </script>
                {% endfor %}
            {% else %}
                <li>Нет доступных предыдущих стримов.</li>
            {% endif %}
        </ul>
    </section>
</main>

<footer class="footer">
    <a href="hass-portfolio.vercel.app"><b><・ )))><<</b></a>
</footer>

</body>
</html>
