<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Информация о пользователе</title>
</head>
<body>
    <h1>Информация о пользователе</h1>
    <p>Имя пользователя: {{ user_info.login }}</p>
    <p>Тип стримера: {{ user_info.broadcaster_type }}</p>
    <p>Описание: {{ user_info.description }}</p>
    <p>Количество просмотров (устарело) : {{ user_info.view_count }}</p>
    <img src="{{ user_info.profile_image_url }}" alt="Profile Image">
</body>
</html>
